/* style.css */

/* Set the canvas element to be the full size of the container */
canvas {
    width: 100%;
    height: 100%;
}

/* Center the canvas element on the page and make text black */
body {
    display: flex;
    background-color: #ffe9d2;
    color: black;   
    justify-content: center;
    align-items: center;
}

#canvas-container {
    width: 100%;
    height: 600px;
}
